<p>Filter by username and email <input [(ngModel)]="filter_username" /></p>
<table class="table table-warning">
  <tr>
    <th>ID</th>
    <th>Username</th>
    <th>Email</th>
    <th>Created Time</th>
    <th>Manager</th>
    <th>Admin</th>
    <th>Action</th>
  </tr>
  <tbody>
  <tr *ngFor="let u of filter()">
    <td>{{ u.id }}</td>
    <td>{{ u.userName }}</td>
    <td>{{ u.email }}</td>
    <td>{{ u.created_time.slice(0,10) }}</td>
    <td>{{ u.isManager.toString() }}</td>
    <td>{{ u.isAdmin.toString() }}</td>
    <td>
      <button (click)="deleteUser(u)">Delete</button>
      <button (click)="editUser(u)">Edit</button>
    </td>
  </tr>
  </tbody>
</table>
<app-edit-user [editUser] = "selectedUser"></app-edit-user>

